* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 700px;
  border: 5px solid red;
}

.box {
  display:flex;
  flex: 1;
}

.smallBox {
  display: flex;
  flex: 1;
  border: 1px solid black;
}

.main {
  display: flex;
  border: 10px solid red;
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  border-right: 5px solid red;
  gap: 20px
}
h1 {
  color: white;
}

.slider {
  display: flex;
  align-items: center;
  height: 20px;
}
.range{
  background: blue;
}

.output {
  margin: 0;
}

.newGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input[type="range"] { 
  -webkit-appearance: none; 
  height: 10px; 
  border-radius: 50px; 
  outline: none; 
} 

input[type="range"]::-webkit-slider-thumb { 
  -webkit-appearance: none; 
  height: 18px; 
  width: 18px; 
  background: #000000; 
  border-radius: 50%; 
  cursor: pointer; 
} 

.color #red {
  background: linear-gradient(90deg, #000, red);
}

.color #green {
  background: linear-gradient(90deg, #000, green);
}

.color #blue {
  background: linear-gradient(90deg, #000, blue);
}

.redSlider,.greenSlider,.blueSlider{
  display: flex;
  justify-content: center;
  align-items: center;
}

.red,.green,.blue {
  text-align: center;
}

